
*.pdb
Abschlussprojekt/Mensch ärgere dich nicht/obj/Debug/Mensch ärgere dich nicht.pdb
Abschlussprojekt/Mensch ärgere dich nicht/obj/Debug/Mensch ärgere dich nicht.exe
Abschlussprojekt/Mensch ärgere dich nicht/obj/Debug/Mensch ärgere dich nicht.g.resources
Abschlussprojekt/Mensch ärgere dich nicht/obj/Debug/Mensch ärgere dich nicht.pdb
Abschlussprojekt/Abschlussprojekt.sln
Abschlussprojekt/.vs/Abschlussprojekt/v15/.suo
Abschlussprojekt/.vs/Abschlussprojekt/v15/sqlite3/storage.ide
